@import "~antd/dist/antd.css";

.body {
  background-image: url('../../resources/acnh-nook-pattern-cat-with-monocle.png');
  background-repeat: repeat-y;
  background-size: cover;
  padding: 20px 0px;
  height: 100vh;
  overflow: scroll;
}
